<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.mumbaitravellers.leaders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MT Leaders"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.TourActivity"
            android:label="Add a Tour"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ExpenseActivity"
            android:label="Add an Expense"
            android:parentActivityName=".activity.TourActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.mumbaitravellers.leaders.activity.TourActivity" />
        </activity>
    </application>

</manifest>